<h2 class="day">Missed</h2>
<div ng-repeat="episode in episodes.missed" class="ep_listing listing-overdue" id="listing-${cur_result['showid']}">
    <div class="tvshowDiv">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th class="nobg" valign="top">
                    <a href="{{'#/displayShow?showId=' + episode.showid}}">
                        <img alt="" class="bannerThumb" ng-src="{{'showPoster/?show=' + episode.showid + '&amp;which=banner'}}" />
                    </a>
                </th>
            </tr>
            <tr>
                <td class="next_episode">
                    <div class="clearfix">
                        <span class="tvshowTitle">
                            <a href="#/displayShow?showId=${cur_result['showid']}">{{episode.show_name}} <span ng-if="episode.paused" class="pause">[paused]</span>
                            </a>
                        </span>

                        <span class="tvshowTitleIcons">
                        % if cur_result['imdb_id']:
                            <a href="${anon_url('http://www.imdb.com/title/', cur_result['imdb_id'])}" rel="noreferrer" onclick="window.open(this.href, '_blank'); return false" title="http://www.imdb.com/title/${cur_result['imdb_id']}"><img alt="[imdb]" height="16" width="16" src="${srRoot}/images/imdb.png" />
                        % endif
                            <a href="${anon_url(sickbeard.indexerApi(cur_indexer).config['show_url'], cur_result['showid'])}" rel="noreferrer" onclick="window.open(this.href, '_blank'); return false" title="${sickbeard.indexerApi(cur_indexer).config['show_url']}"><img alt="${sickbeard.indexerApi(cur_indexer).name}" height="16" width="16" src="${srRoot}/images/${sickbeard.indexerApi(cur_indexer).config['icon']}" /></a>
                            <span><a href="${srRoot}/home/searchEpisode?show=${cur_result['showid']}&amp;season=${cur_result['season']}&amp;episode=${cur_result['episode']}" title="Manual Search" id="forceUpdate-${cur_result['showid']}" class="epSearch forceUpdate"><img alt="[search]" height="16" width="16" src="${srRoot}/images/search16.png" id="forceUpdateImage-${cur_result['showid']}" /></a></span>
                        </span>
                    </div>

                    <span class="title">Next Episode:</span> <span>${'S%02iE%02i' % (int(cur_result['season']), int(cur_result['episode']))} - ${cur_result['name']}</span>

                    <div class="clearfix">
                        <span class="title">Airs: </span><span class="airdate">${sbdatetime.sbdatetime.sbfdatetime(cur_result['localtime'])}</span>${('', '<span> on %s</span>' % cur_result['network'])[bool(cur_result['network'])]}
                    </div>

                    <div class="clearfix">
                        <span class="title">Quality:</span>
                        ${renderQualityPill(cur_result['quality'], showTitle=True)}
                    </div>

                    <div ng-if="episode.description" class="ep_summaryTrigger">
                        <span class="title" style="vertical-align:middle;">Plot:</span>
                        <img class="ep_summaryTrigger" ng-src="images/plus.png" height="16" width="16" alt="" title="Toggle Summary" />
                        <div class="ep_summary">{{episode.description}}</div>
                    </div>
                    <div ng-if="!episode.description" class="ep_summaryTriggerNone">
                        <span class="title" style="vertical-align:middle;">Plot:</span>
                        <img ng-src="images/plus.png" height="16" width="16" alt="" />
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
