<table id="showListTable" class="sickbeardTable tablesorter seasonstyle" cellspacing="1" border="0" cellpadding="0">
    <thead>
        <tr>
            <th>Airdate (${('local', 'network')[sickbeard.TIMEZONE_DISPLAY == 'network']})</th>
            <th>Ends</th>
            <th>Show</th>
            <th>Next Ep</th>
            <th>Next Ep Name</th>
            <th>Network</th>
            <th>Run time</th>
            <th>Quality</th>
            <th>Indexers</th>
            <th>Search</th>
        </tr>
    </thead>
    <tbody style="text-shadow:none;">
        <tr ng-repeat="episode in episodes" class="{{episode.listingClass}}">
            <td align="center" nowrap="nowrap">
                <% airDate = sbdatetime.sbdatetime.convert_to_setting(cur_result['localtime']) %>
                <time datetime="${airDate.isoformat('T')}" class="date">${sbdatetime.sbdatetime.sbfdatetime(airDate)}</time>
            </td>

            <td align="center" nowrap="nowrap">
                <% ends = sbdatetime.sbdatetime.convert_to_setting(cur_ep_enddate) %>
                <time datetime="${ends.isoformat('T')}" class="date">${sbdatetime.sbdatetime.sbfdatetime(ends)}</time>
            </td>

            <td class="tvShow" nowrap="nowrap"><a href="{{'#/displayShow?showId=' + episode.showId}}">{{episode.showName}}</a>
                <span ng-if="episode.paused" class="pause">[paused]</span>
            </td>

            <td nowrap="nowrap" align="center">
                ${'S%02iE%02i' % (int(cur_result['season']), int(cur_result['episode']))}
            </td>

            <td>
                <img ng-if="episode.description" src="images/info32.png" height="16" width="16" class="plotInfo" id="plot_info_${'%s_%s_%s' % (cur_result['showid'], cur_result['season'], cur_result['episode'])}" />
                <img ng-if="!episode.description" src="images/info32.png" width="16" height="16" class="plotInfoNone"  />
                {{episode.name}}
            </td>

            <td align="center">
                ${cur_result['network']}
            </td>

            <td align="center">
            ${run_time}min
            </td>

            <td align="center">
                ${renderQualityPill(cur_result['quality'], showTitle=True)}
            </td>

            <td align="center" style="vertical-align: middle;">
% if cur_result['imdb_id']:
                <a href="${anon_url('http://www.imdb.com/title/', cur_result['imdb_id'])}" title="http://www.imdb.com/title/${cur_result['imdb_id']}"><img alt="[imdb]" height="16" width="16" src="images/imdb.png" />
% endif
                <a href="${anon_url(sickbeard.indexerApi(cur_indexer).config['show_url'], cur_result['showid'])}" title="${sickbeard.indexerApi(cur_indexer).config['show_url']}${cur_result['showid']}">
                    <img alt="${sickbeard.indexerApi(cur_indexer).name}" height="16" width="16" src="images/${sickbeard.indexerApi(cur_indexer).config['icon']}" />
                </a>
            </td>

            <td align="center">
                <a href="home/searchEpisode?show=${cur_result['showid']}&amp;season=${cur_result['season']}&amp;episode=${cur_result['episode']}" title="Manual Search" id="forceUpdate-${cur_result['showid']}x${cur_result['season']}x${cur_result['episode']}" class="forceUpdate epSearch">
                    <img alt="[search]" height="16" width="16" src="images/search16.png" id="forceUpdateImage-${cur_result['showid']}" />
                </a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th rowspan="1" colspan="10" align="center">&nbsp</th>
        </tr>
    </tfoot>
</table>
