language: python
python:
  - 2.7.10
sudo: false
branches:
  except:
    - master
before_install:
  - python .github/check_version.py
install:
  - pip install --upgrade pip
  - pip install --upgrade tox
  - pip install dredd_hooks
  - pip install PyYAML
  - pip install six
  - nvm install v8.9.0
  - nvm use v8.9.0
  - 'curl -o- -L https://yarnpkg.com/install.sh | bash'
  - 'export PATH="$HOME/.yarn/bin:$PATH" && yarn install'
script:
  - yarn test
  - tox -v --recreate
cache:
  yarn: true
  directories:
    - $HOME/.cache/pip
    - node_modules
after_failure:
  - cat ./dredd/data/Logs/application.log
notifications:
  slack:
    secure: >-
      YYOoxBgy4+iAIWylJX0ndT+KwctRzSL/8mUOPErIJOaGAwU6w9JT2WyO1uP/xq9xm+MjgGWqKJ7bpwGRJ12bCkP4mPcnn5A7c/UqFcCgwVgWfKdI/5EeHB6RfzK76J01amenN69/hzt5WjifE4wCONfJAcftKxylh69kWV5QipDcZZA//yQiO9BfYlsW3CxkHb3OGPHSJVYb32IdfCn4hnt3WaWkentXBj5R0v0kyNKbkFqQ5OGPlsjrYpxDMF8vgduxmg8zGw2tXjWGIC2bWuPoAurZy0ewyoKIna82wgkNySFjNBXoZCtssW7yPFJjUQHP/lHIZa4gLmA5Gdli7WoaN/lYaoGXlxAXSskfvgGXin92CRHukSbzEdzQznPhzxzIcuJA2je0gAvmIn2nw0itUGKbVQBZTV3nRFJb3iEHaodC0+1zozGQASxfXQzzBuHU6ZUAFWzlMNQ80RjuiS5951mmgIBo8fOfTWkVFTX8ayEfGbYhqoJqJ5QMjTjoEt8SYKrlHdlDBh803LmKOsID9B8dDn0onXlYNZAioqTTFb/xqL95aCDr84PKYbNSfraqPU6hsSc8ITtxeMS454k8BGxzed0s8bKsCDQP7HXmYKbShByMYX8NipuhtEDXeCGyCLX3atoO0qFiZ0/sUXXf67w/14eLRBAdKfnr02I=
