language: python
sudo: false
cache:
  yarn: true
  directories:
    - $HOME/.cache/pip
    - node_modules
before_install:
  - python .github/check_version.py
  - sudo rm -f /etc/boto.cfg
install: false
script: false
jobs:
  fast_finish: true
  include:
    # test stage + frontend tests start here
    - stage: test
      name: 'Frontend tests'
      language: node_js
      node_js: 10.7.0
      install:
        - 'curl -o- -L https://yarnpkg.com/install.sh | bash'
        - 'export PATH="$HOME/.yarn/bin:$PATH"'
        - >-
          cd $TRAVIS_BUILD_DIR/themes-default/slim &&
          yarn install --ignore-scripts &&
          cd $TRAVIS_BUILD_DIR
      script:
        - ./.github/build-themes-check.sh
        - cd $TRAVIS_BUILD_DIR/themes-default/slim
        - yarn xo
        - yarn lint-css
        - yarn test
        - yarn coverage
    # backend tests (py2.7) start here
    - name: 'Backend tests (py2.7)'
      python: '2.7.10'
      env:
        - TOXENV=py27,lint
      install:
        - pip install --upgrade pip
        - pip install --upgrade tox
      script:
        - tox -v --recreate
    # backend tests (py3.6) start here
    - name: 'Backend tests (py3.6)'
      python: '3.6'
      env:
        - TOXENV=py36
      install:
        - pip install --upgrade pip
        - pip install --upgrade tox
      script:
        - tox -v --recreate
    # dredd tests (py2.7) start here
    - name: 'Dredd tests (py2.7)'
      python: '2.7.10'
      install:
        - pip install --upgrade pip
        - pip install dredd_hooks
        - pip install 'PyYAML>=5.1'
        - pip install six
        - nvm install v10.7.0
        - 'curl -o- -L https://yarnpkg.com/install.sh | bash'
        - 'export PATH="$HOME/.yarn/bin:$PATH" && yarn install --ignore-scripts'
      script:
        - yarn test-api
      after_failure:
        - cat ./dredd/data/Logs/application.log
    # dredd tests (py3.6) start here
    - name: 'Dredd tests (py3.6)'
      python: '3.6'
      install:
        - pip install --upgrade pip
        - pip install dredd_hooks
        - pip install 'PyYAML>=5.1'
        - pip install six
        - nvm install v10.7.0
        - 'curl -o- -L https://yarnpkg.com/install.sh | bash'
        - 'export PATH="$HOME/.yarn/bin:$PATH" && yarn install --ignore-scripts'
      script:
        - yarn test-api
      after_failure:
        - cat ./dredd/data/Logs/application.log
notifications:
  slack:
    secure: >-
      YYOoxBgy4+iAIWylJX0ndT+KwctRzSL/8mUOPErIJOaGAwU6w9JT2WyO1uP/xq9xm+MjgGWqKJ7bpwGRJ12bCkP4mPcnn5A7c/UqFcCgwVgWfKdI/5EeHB6RfzK76J01amenN69/hzt5WjifE4wCONfJAcftKxylh69kWV5QipDcZZA//yQiO9BfYlsW3CxkHb3OGPHSJVYb32IdfCn4hnt3WaWkentXBj5R0v0kyNKbkFqQ5OGPlsjrYpxDMF8vgduxmg8zGw2tXjWGIC2bWuPoAurZy0ewyoKIna82wgkNySFjNBXoZCtssW7yPFJjUQHP/lHIZa4gLmA5Gdli7WoaN/lYaoGXlxAXSskfvgGXin92CRHukSbzEdzQznPhzxzIcuJA2je0gAvmIn2nw0itUGKbVQBZTV3nRFJb3iEHaodC0+1zozGQASxfXQzzBuHU6ZUAFWzlMNQ80RjuiS5951mmgIBo8fOfTWkVFTX8ayEfGbYhqoJqJ5QMjTjoEt8SYKrlHdlDBh803LmKOsID9B8dDn0onXlYNZAioqTTFb/xqL95aCDr84PKYbNSfraqPU6hsSc8ITtxeMS454k8BGxzed0s8bKsCDQP7HXmYKbShByMYX8NipuhtEDXeCGyCLX3atoO0qFiZ0/sUXXf67w/14eLRBAdKfnr02I=
