git+git://github.com/Diaoul/babelfish.git@master#egg=babelfish
beautifulsoup4
CacheControl
git+git://github.com/DiffSK/configobj.git@master#egg=configobj
dogpile.cache
git+git://github.com/kurtmckee/feedparser.git@develop#egg=feedparser
futures
guessit
html5lib
imdbpie
knowit
git+git://github.com/joestump/python-oauth2.git@master#egg=oauth2
PyGithub
python-dateutil
Mako
requests
setuptools
stevedore==1.19.1
git+git://github.com/Diaoul/subliminal.git@develop#egg=subliminal
tornado
tornroutes
