git+git://github.com/Diaoul/babelfish.git@master#egg=babelfish
beautifulsoup4
CacheControl
git+git://github.com/Anorov/cloudflare-scrape.git@85cf963f6eb81804227878df2ca74fe4a309db67#egg=cfscrape
git+git://github.com/DiffSK/configobj.git@master#egg=configobj
contextlib2
dogpile.cache
git+git://github.com/kurtmckee/feedparser.git@develop#egg=feedparser
futures
guessit
html5lib
imdbpie
jsonrpclib
knowit
git+git://github.com/joestump/python-oauth2.git@master#egg=oauth2
profilehooks
PyGithub
PyNMA
python-dateutil
lockfile
Mako
markdown2
requests
SQLAlchemy
stevedore==1.19.1
git+git://github.com/Diaoul/subliminal.git@develop#egg=subliminal
tornado
tornroutes
validators
