configparser==7.2.0
pyparsing==3.2.5
flake8<5.0.0
pycodestyle==2.8.0
flake8-docstrings==1.7.0
flake8-import-order==0.19.2
flake8-quotes==3.4.0
packaging==25.0
pep8-naming==0.13.2
pytest>=8.4.2
pytest-cov==7.0.0
pytest-flake8==1.3.0
pytest-tornado==0.8.1
PyYAML==6.0.3
setuptools==68.0.0
six==1.17.0
tox
tox-gh-actions
tornado==6.5.2
urllib3<2.5.1
vcrpy
mock
requests-mock