/** Use this as table styling for all table layouts */
.vgt-table-styling >>> .vgt-table {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    border-spacing: 0;
}

.vgt-table-styling >>> .vgt-table th,
.vgt-table-styling >>> .vgt-table td {
    padding: 4px;
    vertical-align: middle;
}

/* remove extra border from left edge */
.vgt-table-styling >>> .vgt-table th:first-child,
.vgt-table-styling >>> .vgt-table td:first-child {
    border-left: none;
}

.vgt-table-styling >>> .vgt-table th {
    text-align: center;
    border-collapse: collapse;
    font-weight: normal;
    position: relative;
}

.vgt-table-styling >>> .vgt-table span.break-word {
    word-wrap: break-word;
}

.vgt-table-styling >>> .vgt-table thead th.sorting.sorting-asc {
    background-position-x: right;
    background-position-y: bottom;
}

.vgt-table-styling >>> .vgt-table thead th.sorting {
    background-repeat: no-repeat;
}

.vgt-table-styling >>> .vgt-table thead th.sorting.sorting-desc {
    background-color: rgb(85, 85, 85);
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}

.vgt-table-styling >>> .vgt-table thead th.sorting.sorting-asc {
    background-color: rgb(85, 85, 85);
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
    background-position-x: right;
    background-position-y: bottom;
}

.vgt-table-styling >>> .vgt-table th.sortable button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vgt-table-styling >>> .vgt-table thead th {
    padding: 4px;
    cursor: default;
}

.vgt-table-styling >>> .vgt-table input.tablesorter-filter {
    width: 98%;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.vgt-table-styling >>> .vgt-table tr.tablesorter-filter-row,
.vgt-table-styling >>> .vgt-table tr.tablesorter-filter-row td {
    text-align: center;
}

/* optional disabled input styling */
.vgt-table-styling >>> .vgt-table input.tablesorter-filter-row .disabled {
    display: none;
}

.tablesorter-header-inner {
    padding: 0 2px;
    text-align: center;
}

.vgt-table-styling >>> .vgt-table tfoot tr {
    text-align: center;
    border-collapse: collapse;
}

.vgt-table-styling >>> .vgt-table tfoot a {
    text-decoration: none;
}

.vgt-table-styling >>> .vgt-table th.vgt-row-header {
    text-align: left;
}

.vgt-table-styling >>> .vgt-table .season-header {
    display: inline;
    margin-left: 5px;
}

.vgt-table-styling >>> .vgt-table tr.spacer {
    height: 25px;
}

.vgt-table-styling >>> .vgt-dropdown > .button-group {
    position: relative;
}

.vgt-table-styling >>> .dropdown-toggle {
    position: absolute;
    z-index: 1;
    top: 0.1em;
    right: 0.1em;
    width: 1em;
    transition: width 0.2s ease-in-out;
}
  
.vgt-table-styling >>> .dropdown-toggle:hover,
.dropdown-toggle:hover {
    width: 2em;
}

.vgt-table-styling >>> .vgt-dropdown-menu {
    position: absolute;
    z-index: 1;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    border-radius: 3px;
    right: 0;
    top: 2em;
}

.vgt-table-styling >>> .vgt-dropdown-menu > li > span {
    display: block;
    padding: 3px 5px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
}

.vgt-table-styling >>> .align-center {
    display: flex;
    justify-content: center;
}

.vgt-table-styling >>> .indexer-image :not(:last-child) {
    margin-right: 5px;
}

.vgt-table-styling >>> .button-row {
    width: 100%;
    display: inline-block;
}

/* When using collored rows (using the episode status name, Snatched, Downloaded, Failed, etc.)
 * we'd like to have the text always black.
*/
.vgt-table-styling >>> .vgt-table tr.status td > span {
    color: rgb(0, 0, 0);
}

.vgt-table-styling >>> .skipped {
    background-color: rgb(190, 222, 237);
}

.vgt-table-styling >>> .snatched {
    background-color: rgb(235, 193, 234);
}

.vgt-table-styling >>> .downloaded {
    background-color: rgb(255, 218, 138);
}

.vgt-table-styling >>> .failed {
    background-color: rgb(255, 153, 153);
}

.vgt-table-styling >>> .subtitled {
    background-color: rgb(190, 222, 237);
}

.vgt-table-styling >>> .global-ignored td.release span {
    color: red;
}

.vgt-table-styling >>> .show-ignored td.release span {
    color: red;
    font-style: italic;
}

.vgt-table-styling >>> .global-required td.release span {
    color: green;
}

.vgt-table-styling >>> .show-required td.release span {
    color: green;
    font-style: italic;
}

.vgt-table-styling >>> .global-undesired td.release span {
    color: orange;
}

td.col-footer {
    text-align: left !important;
}

.vgt-table-styling >>> .vgt-wrap__footer {
    color: rgb(255, 255, 255);
    padding: 1em;
    background-color: rgb(51, 51, 51);
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
}

.vgt-table-styling >>> .footer__row-count,
.vgt-table-styling >>> .footer__navigation__page-info {
    display: inline;
}

.vgt-table-styling >>> .footer__row-count__label {
    margin-right: 1em;
}

.vgt-table-styling >>> .vgt-wrap__footer .footer__navigation {
    font-size: 14px;
}

.vgt-table-styling >>> .vgt-pull-right {
    float: right !important;
}

.vgt-table-styling >>> .footer__navigation__page-btn {
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 16px;
    vertical-align: middle;
    border-radius: 1px;
}

.vgt-table-styling >>> .footer__navigation__page-btn:hover {
    text-decoration: none;
    background-position: 0 -150px;
    transition: background-position 0s linear;
    background-image: none;
}

.vgt-table-styling >>> .footer__navigation__page-btn.disabled {
    display: none;
}

.vgt-table-styling >>> .vgt-wrap__footer .footer__navigation__page-btn .chevron {
    width: 24px;
    height: 24px;
    border-radius: 15%;
    position: relative;
    margin: 0 8px;
}

.vgt-table-styling >>> .vgt-wrap__footer .footer__navigation__info,
.vgt-table-styling >>> .vgt-wrap__footer .footer__navigation__page-info {
    display: inline-flex;
    color: #909399;
    margin: 0 16px;
    margin-top: 0;
    margin-right: 16px;
    margin-bottom: 0;
    margin-left: 16px;
}

.show-history {
    margin-bottom: 10px;
}


/* History tables */
.status-name > svg {
    margin-left: 5px;
}

.vgt-multiselect {
    min-height: 30px;
}

.multiselect--active {
    min-width: 200px;
}

.vgt-multiselect >>> .multiselect__placeholder {
    margin-bottom: 0;
    padding-top: 0;
}

.vgt-multiselect >>> .multiselect__tags {
    padding-top: 0;
    min-height: 30px;
}

:not(tr.status) span.episode-title a,
:not(tr.status) span.show-title a {
    text-decoration: none;
    color: rgb(255, 255, 255)
}

tr.status span.episode-title a,
tr span.show-title a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.vgt-table-styling >>> .vgt-input {
    height: 23px;
    line-height: 23px;
    font-size: 0.9em;
    width: 100%;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0 10px;
    margin: 0;
}

.vgt-table-styling >>> .vgt-select {
    height: 23px;
    line-height: 23px;
    font-size: 0.9em;
    width: 100%;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0 10px;
}

/* History compact */
span.release-group {
    cursor: help;
    margin-right: 5px;
}

/* Schedule list layout */
.vgt-table-styling >>> .schedule tr.today {
    background-color: rgb(245, 241, 228);
}

.vgt-table-styling >>> .schedule tr.soon {
    background-color: rgb(221, 255, 221);
}

.vgt-table-styling >>> .schedule tr.missed {
    background-color: rgb(255, 221, 221);
}

.vgt-table-styling >>> .schedule tr.later {
    background-color: rgb(190, 222, 237);
}

.vgt-table-styling >>> .schedule tr,
.vgt-table-styling >>> .schedule tr a {
    color: rgb(0, 0, 0);
}