<div ng-controller="configController" class="panel panel-default config-panel">
    <div class="panel-body">
        <table ng-cloak>
            <tr ng-if="sickrageVersion">
                <td><i class="icon16-config-sickrage"></i> SickRage Info:</td>
                <td>
                    Branch: <a anon-href="{{'https://github.com/PyMedusa/SickRage/tree/' + branch}}">{{branch}}</a><br>
                    Commit: <a anon-href="{{'https://github.com/PyMedusa/SickRage/commit/' + commitHash}}">{{commitHash}}</a><br>
                    Version: <a href="{{'https://github.com/PyMedusa/SickRage/releases/tag/' + sickrageVersion}}">{{sickrageVersion}}</a>
                </td>
            </tr>
            <tr><td><i class="icon16-config-python"></i> Python Version:</td><td>{{pythonVersion}}</td></tr>
            <tr><td><i class="icon16-config-ssl"></i> SSL Version:</td><td>{{sslVersion}}</td></tr>
            <tr><td><i class="icon16-config-os"></i> OS:</td><td>{{os}}</td></tr>
            <tr><td><i class="icon16-config-locale"></i> Locale:</td><td>{{locale}}</td></tr>
            <tr class="infoTableSeperator"><td></td><td></td></tr>
            <tr><td><i class="icon16-config-user"></i> User:</td><td>{{user}}</td></tr>
            <tr><td><i class="icon16-config-dir"></i> Program Folder:</td><td>{{programDirectory}}</td></tr>
            <tr><td><i class="icon16-config-config"></i> Config File:</td><td>{{configFile}}</td></tr>
            <tr><td><i class="icon16-config-db"></i> Database File:</td><td>{{databaseFile}}</td></tr>
            <tr><td><i class="icon16-config-cache"></i> Cache Folder:</td><td>{{cacheDirectory}}</td></tr>
            <tr><td><i class="icon16-config-log"></i> Log Folder:</td><td>{{logDirectory}}</td></tr>
            <tr ng-if="sickrageArguments">
                <td><i class="icon16-config-arguments"></i> Arguments:</td><td>{{sickrageArguments}}</td>
            </tr>
            <tr ng-if="webRoot">
                <td><i class="icon16-config-folder"></i> Web Root:</td><td>{{webRoot}}</td>
            </tr>
            <tr class="infoTableSeperator"><td></td><td></td></tr>
            <tr><td><i class="icon16-config-web"></i> Website:</td><td><a anon-href="http://github.com/PyMedusa/sickrage.github.io">http://github.com/PyMedusa/sickrage.github.io/</a></td></tr>
            <tr><td><i class="icon16-config-wiki"></i> Wiki:</td><td><a anon-href="https://github.com/PyMedusa/SickRage-issues/wiki">https://github.com/PyMedusa/SickRage-issues/wiki</a></td></tr>
            <tr><td><i class="icon16-config-github"></i> Source:</td><td><a anon-href="https://github.com/PyMedusa/SickRage">https://github.com/PyMedusa/SickRage/</a></td></tr>
            <tr><td><i class="icon16-config-mirc"></i> IRC Chat:</td><td><a anon-href="irc://irc.freenode.net/#sickrage-issues"><i>#sickrage-issues</i> on <i>irc.freenode.net</i></a></td></tr>
        </table>
    </div>
</div>
