<div ng-controller="displayShowController">
    <div class="pull-left form-inline">
        Change Show:
        <div class="navShow"><img id="prevShow" src="/images/prev.png" alt="&lt;&lt;" title="Prev Show" /></div>
            <select id="pickShow" class="form-control form-control-inline input-sm">
                <option ng-repeat="(i, menuShow) in showMenu.shows" value="{{menuShow.indexerId}}">{{menuShow.name}}</option>
            </select>
        <div class="navShow"><img id="nextShow" src="/images/next.png" alt="&gt;&gt;" title="Next Show" /></div>
    </div>

    <div class="clearfix"></div>

    <div id="showtitle" data-showname="{{show.name}}">
        <h1 class="title" id="{{'scene_exception_' + show.indexerId}}">{{show.name}}</h1>
    </div>

    <div ng-if="seasons">
        <span ng-if="seasons[0]" class="h2footer displayspecials pull-right">
            Display Specials: <a class="inner" href="{{'/toggleDisplayShowSpecials/?show=' + show.indexerId}}">{{sickbeard.DISPLAY_SHOW_SPECIALS ? 'Hide' : 'Show'}}</a>
        </span>

        <div class="h2footer pull-right">
            <span ng-if="seasons.length > 14">
                <select id="seasonJump" class="form-control input-sm" style="position: relative; top: -4px;">
                    <option value="jump">Jump to Season</option>
                    <option ng-repeat="(i, season) in seasons" value="{{'#season-' + seasons.indexOf(season)}}" data-season="{{'#season-' + seasons.indexOf(season)}}">{{seasons.indexOf(season) === 0 ? 'Specials' : 'Season ' + seasons.indexOf(season)}}</option>
                </select>
            </span>
            <span ng-if="seasons.length < 14">
                Season:
                <span ng-repeat="(i, season) in seasons">
                    <a href="{{'#season-' + seasons.indexOf(season)}}">{{seasons.indexOf(season) === 0 ? 'Specials' : seasons.indexOf(season)}}</a>
                    <span ng-if="seasons.indexOf(season) <= seasons.length-2" class="separator">|</span>
                </span>
            </span>
        </div>
        </div>

        <div class="clearfix"></div>

        <div ng-if="showMessage" class="alert alert-info">{{showMessage}}</div>

        <div id="container">
            <div id="posterCol">
                <a href="{{'/showPoster/?show=' + show.indexerId + '&amp;which=poster'}}" rel="dialog" title="View Poster for {{show.name}}">
                    <img src="{{'/showPoster/?show=' + show.indexerId + '&amp;which=poster_thumb'}}" class="tvshowImg" alt=""/>
                </a>
            </div>

            <div id="showCol">
                <div id="showinfo">
    <!-- % if 'rating' in show.imdb_info:
        <% rating_tip = str(show.imdb_info['rating']) + " / 10" + " Stars" + "<br>" + str(show.imdb_info['votes']) + " Votes" %>
        <span class="imdbstars" qtip-content="${rating_tip}">${show.imdb_info['rating']}</span>
    % endif -->
<!--
    <% _show = show %>
    % if not show.imdbid:
        <span>(${show.startyear}) - ${show.runtime} minutes - </span>
    % else:
        % if 'country_codes' in show.imdb_info:
            % for country in show.imdb_info['country_codes'].split('|'):
                    <img src="/images/blank.png" class="country-flag flag-${country}" width="16" height="11" style="margin-left: 3px; vertical-align:middle;" />
            % endfor
        % endif
        <span>
        % if 'year' in show.imdb_info and show.imdb_info['year']:
                    (${show.imdb_info['year']}) -
        % endif
                    ${show.imdb_info['runtimes']} minutes</span>

                    <a href="${anon_url('http://www.imdb.com/title/', _show.imdbid)}" rel="noreferrer" onclick="window.open(this.href, '_blank'); return false;" title="http://www.imdb.com/title/${show.imdbid}"><img alt="[imdb]" height="16" width="16" src="/images/imdb.png" style="margin-top: -1px; vertical-align:middle;"/></a>
    % endif
                    <a href="${anon_url(sickbeard.indexerApi(_show.indexer).config['show_url'], _show.indexerid)}" onclick="window.open(this.href, '_blank'); return false;" title="${sickbeard.indexerApi(show.indexer).config["show_url"] + str(show.indexerid)}"><img alt="${sickbeard.indexerApi(show.indexer).name}" height="16" width="16" src="/images/${sickbeard.indexerApi(show.indexer).config["icon"]}" style="margin-top: -1px; vertical-align:middle;"/></a>
    % if xem_numbering or xem_absolute_numbering:
                    <a href="${anon_url('http://thexem.de/search?q=', _show.name)}" rel="noreferrer" onclick="window.open(this.href, '_blank'); return false;" title="http://thexem.de/search?q-${show.name}"><img alt="[xem]" height="16" width="16" src="/images/xem.png" style="margin-top: -1px; vertical-align:middle;"/></a>
    % endif -->
                </div>

                <div id="tags">
                    <ul class="tags">
                        <!-- % if ('genres' not in show.imdb_info or not show.imdb_info['genres']) and show.genre:
                            % for genre in show.genre[1:-1].split('|'):
                                <a href="${anon_url('http://trakt.tv/shows/popular/?genres=', genre.lower())}" target="_blank" title="View other popular ${genre} shows on trakt.tv."><li>${genre}</li></a>
                            % endfor
                        % elif 'genres' in show.imdb_info and show.imdb_info['genres']:
                            % for imdbgenre in show.imdb_info['genres'].replace('Sci-Fi','Science-Fiction').split('|'):
                                <a href="${anon_url('http://www.imdb.com/search/title?count=100&title_type=tv_series&genres=', imdbgenre.lower())}" target="_blank" title="View other popular ${imdbgenre} shows on IMDB."><li>${imdbgenre}</li></a>
                            % endfor
                        % endif -->
                    </ul>
                </div>

                <div id="summary">
                    <table class="summaryTable pull-left">
                    <!-- <% anyQualities, bestQualities = Quality.splitQuality(int(show.quality)) %>
                        <tr><td class="showLegend">Quality: </td><td>
                    % if show.quality in qualityPresets:
                        ${renderQualityPill(show.quality)}
                    % else:
                    % if anyQualities:
                        <i>Allowed:</i> ${", ".join([capture(renderQualityPill, x) for x in sorted(anyQualities)])}${("", "<br>")[bool(bestQualities)]}
                    % endif
                    % if bestQualities:
                        <i>Preferred:</i> ${", ".join([capture(renderQualityPill, x) for x in sorted(bestQualities)])}
                    % endif
                    % endif -->

                        <tr ng-if="show.network && show.airs"><td class="showLegend">Originally Airs: </td><td>{{show.airs}} ${("<font color='#FF0000'><b>(invalid Timeformat)</b></font> ", "")[network_timezones.test_timeformat(show.airs)]} on {{show.network}}</td></tr>
                        <tr ng-if="show.network && !show.airs"><td class="showLegend">Originally Airs: </td><td>{{show.network}}</td></tr>
                        <tr ng-if="!show.network && show.airs"><td class="showLegend">Originally Airs: </td><td>{{show.airs}} ${("<font color='#FF0000'><b>(invalid Timeformat)</b></font>", "")[network_timezones.test_timeformat(show.airs)]}</td></tr>
                        <tr><td class="showLegend">Show Status: </td><td>{{show.status}}</td></tr>
                        <tr><td class="showLegend">Default EP Status: </td><td>${statusStrings[show.default_ep_status]}</td></tr>
                        <tr ng-if="show.location[1]"><td class="showLegend">Location: </td><td>{{show.location[0]}}</td></tr>
                        <tr ng-if="!show.location[1]"><td class="showLegend"><span style="color: red;">Location: </span></td><td><span style="color: red;">{{show.location[0]}}</span> (Missing)</td></tr>
                        <tr><td class="showLegend">Scene Name:</td><td>{{show.exceptions ? show.exceptions.join(' | ') : show.name}}</td></tr>

                    <!-- % if show.rls_require_words: -->
                        <tr><td class="showLegend">Required Words: </td><td>${show.rls_require_words}</td></tr>
                    <!-- % endif -->
                    <!-- % if show.rls_ignore_words: -->
                        <tr><td class="showLegend">Ignored Words: </td><td>${show.rls_ignore_words}</td></tr>
                    <!-- % endif -->
                    <!-- % if bwl and bwl.whitelist: -->
                        <tr>
                            <td class="showLegend">Wanted Group${("", "s")[len(bwl.whitelist) > 1]}:</td>
                            <td>${', '.join(bwl.whitelist)}</td>
                        </tr>
                    <!-- % endif -->
                    <!-- % if bwl and bwl.blacklist: -->
                        <tr>
                            <td class="showLegend">Unwanted Group${("", "s")[len(bwl.blacklist) > 1]}:</td>
                            <td>${', '.join(bwl.blacklist)}</td>
                        </tr>
                    <!-- % endif -->

                        <tr><td class="showLegend">Size:</td><td>${pretty_file_size(sickbeard.helpers.get_size(showLoc[0]))}</td></tr>
                    </table>

                    <table style="width:180px; float: right; vertical-align: middle; height: 100%;">
                        <!-- <% info_flag = subtitles.code_from_code(show.lang) if show.lang else '' %> -->
                        <tr><td class="showLegend">Info Language:</td><td><img src="/images/subtitles/flags/${info_flag}.png" width="16" height="11" alt="${show.lang}" title="${show.lang}" onError="this.onerror=null;this.src='/images/flags/unknown.png';"/></td></tr>
                        <tr ng-if="useSubtitles"><td class="showLegend">Subtitles: </td><td><img src="{{'/images/' + (show.subtitles ? 'yes16.png' : 'no16.png')}}" alt="${("N", "Y")[bool(show.subtitles)]}" width="16" height="16" /></td></tr>
                        <tr><td class="showLegend">Season Folders: </td><td><img src="/images/${("no16.png", "yes16.png")[bool(not show.flatten_folders or sickbeard.NAMING_FORCE_FOLDERS)]}" alt=="${("N", "Y")[bool(not show.flatten_folders or sickbeard.NAMING_FORCE_FOLDERS)]}" width="16" height="16" /></td></tr>
                        <tr><td class="showLegend">Paused: </td><td><img src="{{'/images/' + (show.paused ? 'yes16.png' : 'no16.png')}}" alt="${("N", "Y")[bool(show.paused)]}" width="16" height="16" /></td></tr>
                        <tr><td class="showLegend">Air-by-Date: </td><td><img src="{{'/images/' + (show.air_by_date ? 'yes16.png' : 'no16.png')}}" alt="${("N", "Y")[bool(show.air_by_date)]}" width="16" height="16" /></td></tr>
                        <tr><td class="showLegend">Sports: </td><td><img src="{{'/images/' + (show.is_sports ? 'yes16.png' : 'no16.png')}}" alt="${("N", "Y")[bool(show.is_sports)]}" width="16" height="16" /></td></tr>
                        <tr><td class="showLegend">Anime: </td><td><img src="{{'/images/' + (show.is_anime ? 'yes16.png' : 'no16.png')}}" alt="${("N", "Y")[bool(show.is_anime)]}" width="16" height="16" /></td></tr>
                        <tr><td class="showLegend">DVD Order: </td><td><img src="{{'/images/' + (show.dvdorder ? 'yes16.png' : 'no16.png')}}" alt="${("N", "Y")[bool(show.dvdorder)]}" width="16" height="16" /></td></tr>
                        <tr><td class="showLegend">Scene Numbering: </td><td><img src="{{'/images/' + (show.scene ? 'yes16.png' : 'no16.png')}}" alt="${("N", "Y")[bool(show.scene)]}" width="16" height="16" /></td></tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="pull-left" >
            Change selected episodes to:<br>
            <select id="statusSelect" class="form-control form-control-inline input-sm">
            <!-- <% availableStatus = [WANTED, SKIPPED, IGNORED, FAILED] %>
            % if not sickbeard.USE_FAILED_DOWNLOADS:
            <% availableStatus.remove(FAILED) %>
            % endif
            % for curStatus in availableStatus + Quality.DOWNLOADED + Quality.ARCHIVED:
                % if curStatus not in [DOWNLOADED, ARCHIVED]:
                <option value="${curStatus}">${statusStrings[curStatus]}</option>
                % endif
            % endfor -->
            </select>
            <input type="hidden" id="showID" value="{{show.indexerId}}" />
            <input type="hidden" id="indexer" value="{{show.indexer}}" />
            <input class="btn btn-inline" type="button" id="changeStatus" value="Go" />
        </div>

        <br>

        <div class="pull-right clearfix" id="checkboxControls">
            <div style="padding-bottom: 5px;">
                <label for="wanted"><span class="wanted"><input type="checkbox" id="wanted" checked="checked" /> Wanted: <b>{{episodeCounts('wanted')}}</b></span></label>
                <label for="qual"><span class="qual"><input type="checkbox" id="qual" checked="checked" /> Allowed: <b>${epCounts[Overview.QUAL]}</b></span></label>
                <label for="good"><span class="good"><input type="checkbox" id="good" checked="checked" /> Preferred: <b>${epCounts[Overview.GOOD]}</b></span></label>
                <label for="skipped"><span class="skipped"><input type="checkbox" id="skipped" checked="checked" /> Skipped: <b>{{episodeCounts('skipped')}}</b></span></label>
                <label for="snatched"><span class="snatched"><input type="checkbox" id="snatched" checked="checked" /> Snatched: <b>{{episodeCounts('snatched') + episodeCounts('snatchedProper') + episodeCounts('snatchedBest')}}</b></span></label>
            </div>

            <button id="popover" type="button" class="btn btn-xs">Select Columns <b class="caret"></b></button>
            <div class="pull-right" >
                <button class="btn btn-xs seriesCheck">Select Filtered Episodes</button>
                <button class="btn btn-xs clearAll">Clear All</button>
            </div>
        </div>
    <br>
    <br>
    <br>

    <table ng-repeat="(i, season) in seasons.slice().reverse()" class="displayShowTable display_show" cellspacing="0" border="0" cellpadding="0">
        <thead>
            <tr class="seasoncols" style="display:none;">
                <th data-sorter="false" data-priority="critical" class="col-checkbox"><input type="checkbox" class="seasonCheck"/></th>
                <th data-sorter="false" class="col-metadata">NFO</th>
                <th data-sorter="false" class="col-metadata">TBN</th>
                <th data-sorter="false" class="col-ep">Episode</th>
                <th data-sorter="false" class="{{'col-ep' + (show.is_anime ? 'columnSelector-false' : '')}}">Absolute</th>
                <th data-sorter="false" class="{{'col-ep' + ((!show.airByDate && !show.sport && !show.anime && show.scene) ? 'columnSelector-false' : '')}}">Scene</th>
                <th data-sorter="false" class="{{'col-ep' + (!show.airByDate && !show.sports && show.anime && show.scene) ? 'columnSelector-false' : ''}}">Scene Absolute</th>
                <th data-sorter="false" class="col-name">Name</th>
                <th data-sorter="false" class="col-name columnSelector-false">File Name</th>
                <th data-sorter="false" class="col-ep columnSelector-false">Size</th>
                <th data-sorter="false" class="col-airdate">Airdate</th>
                <th data-sorter="false" class="{{'col-ep' + (downloadUrl ? 'columnSelector-false' : '')}}">Download</th>
                <th data-sorter="false" class="{{'col-ep' + (useSubtitles ? 'columnSelector-false' : '')}}">Subtitles</th>
                <th data-sorter="false" class="col-status">Status</th>
                <th data-sorter="false" class="col-search">Search</th>
            </tr>
        </thead>
        <tbody class="tablesorter-no-sort">
            <tr style="height: 60px;">
                <th class="row-seasonheader displayShowTable" colspan="13" style="vertical-align: bottom; width: auto;">
                    <h3 style="display: inline;"><a name="{{'season-' + seasons.indexOf(season)}}"></a>{{seasons.indexOf(season) === 0 ? 'Specials' : 'Season ' + seasons.indexOf(season)}}</h3>
                    <button ng-if="!displayAllSeasons" id="{{'showseason-' + seasons.indexOf(season)}}" type="button" class="btn btn-xs pull-right" data-toggle="collapse" data-target="{{'#collapseSeason-' + seasons.indexOf(season)}}">Show Episodes</button>
                </th>
            </tr>
        </tbody>
        <tbody class="tablesorter-no-sort">
            <tr id="{{'season-' + seasons.indexOf(season) + '-cols'}}" class="seasoncols">
                <th class="col-checkbox"><input type="checkbox" class="seasonCheck" id="{{seasons.indexOf(season)}}" /></th>
                <th class="col-metadata">NFO</th>
                <th class="col-metadata">TBN</th>
                <th class="col-ep">Episode</th>
                <th class="col-ep">Absolute</th>
                <th class="col-ep">Scene</th>
                <th class="col-ep">Scene Absolute</th>
                <th class="col-name">Name</th>
                <th class="col-name">File Name</th>
                <th class="col-ep">Size</th>
                <th class="col-airdate">Airdate</th>
                <th class="col-ep">Download</th>
                <th class="col-ep">Subtitles</th>
                <th class="col-status">Status</th>
                <th class="col-search">Search</th>
            </tr>
        </tbody>
        <tbody id="{{'collapseSeason-' + seasons.indexOf(season)}}">
            <tr ng-repeat="(i, episode) in season.slice().reverse().slice(0, -1)" class="{{qualityStrings(episode.status) + ' season-' + seasons.indexOf(season) + ' seasonstyle'}}" id="{{seasons.indexOf(season) + 'x' + episode.episode}}">
                <td class="col-checkbox">
                    <input ng-if="episode.status != 'unaired'" type="checkbox" class="epCheck" id="{{seasons.indexOf(season) + 'x' + season.episode.episode}}" name="{{seasons.indexOf(season) + 'x' + season.episode.episode}}" />
                </td>
                <td align="center"><img src="{{'/images/' + (episode.hasnfo ? 'nfo.gif' : 'nfo-no.gif')}}" alt="{{episode.hasnfo ? 'Y' : 'N'}}" width="23" height="11" /></td>
                <td align="center"><img src="{{'/images/' + (episode.hastbn ? 'tbn.gif' : 'tbn-no.gif')}}" alt="{{episode.hastbn ? 'Y' : 'N'}}" width="23" height="11" /></td>
                <td align="center">
                    <span ng-if="episode.location" title="{{episode.episode}}" class="addQTip">{{episode.episode}}</span>
                    <span ng-if="!episode.location">{{episode.episode}}</span>
                </td>
                <td align="center">{{episode.absolute_number}}</td>
                <td align="center">
                    <!-- <input type="text" placeholder="${str(dfltSeas) + 'x' + str(dfltEpis)}" size="6" maxlength="8"
                        class="sceneSeasonXEpisode form-control input-scene" data-for-season="${epResult["season"]}" data-for-episode="${epResult["episode"]}"
                        id="sceneSeasonXEpisode_${show.indexerid}_${str(epResult["season"])}_${str(epResult["episode"])}"
                        title="Change the value here if scene numbering differs from the indexer episode numbering"
                        % if dfltEpNumbering:
                            value=""
                        % else:
                            value="${str(scSeas)}x${str(scEpis)}"
                        % endif
                            style="padding: 0; text-align: center; max-width: 60px;" autocapitalize="off" /> -->
                </td>
                <td align="center">
                    <!-- <input type="text" placeholder="${str(dfltAbsolute)}" size="6" maxlength="8"
                        class="sceneAbsolute form-control input-scene" data-for-absolute="${epResult["absolute_number"]}"
                        id="sceneAbsolute_${show.indexerid}${"_"+str(epResult["absolute_number"])}"
                        title="Change the value here if scene absolute numbering differs from the indexer absolute numbering"
                        % if dfltAbsNumbering:
                            value=""
                        % else:
                            value="${str(scAbsolute)}"
                        % endif
                            style="padding: 0; text-align: center; max-width: 60px;" autocapitalize="off" /> -->
                </td>
                <td class="col-name">
                    <img ng-if="episode.description" src="/images/info32.png" width="16" height="16" class="plotInfo" alt="" id="{{'plot_info_' + show.indexerId + '_' + seasons.indexOf(season) + '_' + episode.episode}}" />
                    <img ng-if="!episode.description" src="/images/info32.png" width="16" height="16" class="plotInfoNone" alt="" />
                    {{episode.name}}
                </td>
                <td class="col-name">{{episode.location}}</td>
                <td class="col-ep">
                    <!-- % if epResult["file_size"]:
                        ${pretty_file_size(epResult["file_size"])}
                    % endif -->
                </td>
                <td class="col-airdate">
                    <span ng-if="episode.airdate">
                        <!-- ## Lets do this exactly like ComingEpisodes and History
                        ## Avoid issues with dateutil's _isdst on Windows but still provide air dates
                        <% airDate = datetime.datetime.fromordinal(epResult['airdate']) %>
                        % if airDate.year >= 1970 or show.network:
                            <% airDate = sbdatetime.sbdatetime.convert_to_setting(network_timezones.parse_date_time(epResult['airdate'], show.airs, show.network)) %>
                        % endif
                        <time datetime="${airDate.isoformat('T')}" class="date">${sbdatetime.sbdatetime.sbfdatetime(airDate)}</time> -->
                    </span>
                    <span ng-if="!episode.airdate">Never</span>
                </td>
                <td>
                    <!-- {{
                        filename = episode.location
                        rootDirs.split('|').forEach(function(rootDir){
                            if(rootDir[0] === '/'){
                                filename = filename.replace(rootDir, '');
                            }
                        });
                    }} -->
                    <center ng-if="downloadUrl && episode.location"><a href="{{downloadUrl + filename}}">Download</a></center>
                </td>
                <td class="col-subtitles" align="center">
                <!-- % for flag in (epResult["subtitles"] or '').split(','):
                    % if flag.strip():
                        <img src="/images/subtitles/flags/${flag}.png" width="16" height="11" alt="${subtitles.name_from_code(flag)}" onError="this.onerror=null;this.src='/images/flags/unknown.png';" />
                    % endif
                % endfor -->
                </td>
                    <!-- <% curStatus, curQuality = Quality.splitCompositeStatus(int(epResult["status"])) %>
                    % if curQuality != Quality.NONE: -->
                        <td class="col-status">${statusStrings[curStatus]} ${renderQualityPill(curQuality)}</td>
                    <!-- % else:
                        <td class="col-status">${statusStrings[curStatus]}</td>
                    % endif -->
                <td class="col-search">
                    <span ng-if="episode.season !== 0">
                        <a ng-if="useFailedDownloads && qualities.all.indexOf(episode.status) >= 0" class="epRetry" id="${str(show.indexerid)}x${str(epResult["season"])}x${str(epResult["episode"])}" name="${str(show.indexerid)}x${str(epResult["season"])}x${str(epResult["episode"])}" href="retryEpisode?show=${show.indexerid}&amp;season=${epResult["season"]}&amp;episode=${epResult["episode"]}"><img src="/images/search16.png" height="16" alt="retry" title="Retry Download" /></a>
                        <a ng-if="qualities.all.indexOf(episode.status) === -1" class="epSearch" id="${str(show.indexerid)}x${str(epResult["season"])}x${str(epResult["episode"])}" name="${str(show.indexerid)}x${str(epResult["season"])}x${str(epResult["episode"])}" href="searchEpisode?show=${show.indexerid}&amp;season=${epResult["season"]}&amp;episode=${epResult["episode"]}"><img src="/images/search16.png" width="16" height="16" alt="search" title="Manual Search" /></a>
                    </span>
                    <!-- % if int(epResult["status"]) not in Quality.SNATCHED + Quality.SNATCHED_PROPER and sickbeard.USE_SUBTITLES and show.subtitles and epResult["location"] and subtitles.needs_subtitles(epResult['subtitles']): -->
                    <a ng-if="useSubtitles && show.subtitles && episode.location" class="epSubtitlesSearch" href="searchEpisodeSubtitles?show=${show.indexerid}&amp;season=${epResult["season"]}&amp;episode=${epResult["episode"]}"><img src="/images/closed_captioning.png" height="16" alt="search subtitles" title="Search Subtitles" /></a>
                </td>
            </tr>
        </tbody>
    </table>

    <!--Begin - Bootstrap Modal-->

    <div id="manualSearchModalFailed" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Manual Search</h4>
                </div>
                <div class="modal-body">
                    <p>Do you want to mark this episode as failed?</p>
                    <p class="text-warning"><small>The episode release name will be added to the failed history, preventing it to be downloaded again.</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <div id="manualSearchModalQuality" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Manual Search</h4>
                </div>
                <div class="modal-body">
                    <p>Do you want to include the current episode quality in the search?</p>
                    <p class="text-warning"><small>Choosing No will ignore any releases with the same episode quality as the one currently downloaded/snatched.</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>
