/* =======================================================================
home.mako
========================================================================== */

.progress-100 {
    background-image: -moz-linear-gradient(rgb(166, 207, 65), rgb(91, 153, 13)) !important;
    background-image: linear-gradient(rgb(166, 207, 65), rgb(91, 153, 13)) !important;
    background-image: -webkit-linear-gradient(rgb(166, 207, 65), rgb(91, 153, 13)) !important;
    background-image: -o-linear-gradient(rgb(166, 207, 65), rgb(91, 153, 13)) !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.progress-80 {
    background-image: -moz-linear-gradient(rgb(225, 255, 151), rgb(157, 178, 105)) !important;
    background-image: linear-gradient(rgb(225, 255, 151), rgb(157, 178, 105)) !important;
    background-image: -webkit-linear-gradient(rgb(225, 255, 151), rgb(157, 178, 105)) !important;
    background-image: -o-linear-gradient(rgb(225, 255, 151), rgb(157, 178, 105)) !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.progress-60 {
    background-image: -moz-linear-gradient(rgb(250, 212, 64), rgb(242, 167, 13)) !important;
    background-image: linear-gradient(rgb(250, 212, 64), rgb(242, 167, 13)) !important;
    background-image: -webkit-linear-gradient(rgb(250, 212, 64), rgb(242, 167, 13)) !important;
    background-image: -o-linear-gradient(rgb(250, 212, 64), rgb(242, 167, 13)) !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.progress-40 {
    background-image: -moz-linear-gradient(rgb(250, 181, 67), rgb(242, 112, 13)) !important;
    background-image: linear-gradient(rgb(250, 181, 67), rgb(242, 112, 13)) !important;
    background-image: -webkit-linear-gradient(rgb(250, 181, 67), rgb(242, 112, 13)) !important;
    background-image: -o-linear-gradient(rgb(250, 181, 67), rgb(242, 112, 13)) !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.progress-20 {
    background-image: -moz-linear-gradient(rgb(218, 89, 69), rgb(177, 26, 16)) !important;
    background-image: linear-gradient(rgb(218, 89, 69), rgb(177, 26, 16)) !important;
    background-image: -webkit-linear-gradient(rgb(218, 89, 69), rgb(177, 26, 16)) !important;
    background-image: -o-linear-gradient(rgb(218, 89, 69), rgb(177, 26, 16)) !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/* =======================================================================
displayShow.mako
========================================================================== */

.displayShowTable th.row-seasonheader {
    border: none !important;
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
    padding-top: 15px !important;
    text-align: left !important;
}

.displayShowTableFanArt th.row-seasonheader {
    border: none !important;
    background-color: transparent !important;
    color: rgb(0, 0, 0) !important;
    padding-top: 15px !important;
    text-align: left !important;
}

.snatchTitle {
    color: rgb(0, 0, 0) !important;
}

/* =======================================================================
testRename.mako
========================================================================== */

tr.seasonheader {
    color: rgb(0, 0, 0) !important;
}

/* =======================================================================
schedule.mako
========================================================================== */

table.cal-odd {
    background-color: rgb(221, 221, 221);
}

table.cal-even {
    background-color: rgb(210, 210, 210);
}

.calendarShow .text .airtime {
    color: rgb(0, 0, 0);
}

.calendarShow .text .episode-title {
    color: rgb(136, 136, 136);
}

/* =======================================================================
bootstrap Overrides
========================================================================== */

/* navbar styling */
.navbar-default {
    background-color: rgb(51, 51, 51);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#333333');
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(85, 85, 85)), to(rgb(51, 51, 51)));
    background: -moz-linear-gradient(top, rgb(85, 85, 85), rgb(51, 51, 51));
    border-color: rgb(62, 63, 58);
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: rgb(62, 63, 58);
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: rgb(51, 51, 51);
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(51, 51, 51);
}

pre {
    color: rgb(0, 0, 0);
    background-color: rgb(245, 245, 245);
    border-color: rgb(204, 204, 204);
}

/* =======================================================================
tablesorter.css
========================================================================== */

.tablesorter {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    color: rgb(0, 0, 0);
    text-align: left;
    background-color: rgb(221, 221, 221);
    border-spacing: 0;
}

/* hidden filter row */
.tablesorter-filter-row.hideme td {
    /*** *********************************************** ***/
    /*** change this padding to modify the thickness     ***/
    /*** of the closed filter row (height = padding x 2) ***/
    padding: 2px;
    /*** *********************************************** ***/
    margin: 0;
    line-height: 0;
    cursor: pointer;
}

.tablesorter-filter-row.hideme * {
    height: 1px;
    min-height: 0;
    border: 0;
    padding: 0;
    margin: 0;
    /* don't use visibility: hidden because it disables tabbing */
    opacity: 0;
    filter: alpha(opacity=0);
}

/* =======================================================================
token-input.css
========================================================================== */

div.token-input-dropdown {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-left-color: rgb(204, 204, 204);
    border-right-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
}

/* =======================================================================
bootstrap modal
========================================================================== */

.modal-header {
    padding: 9px 15px;
    border-bottom: 1px solid rgb(238, 238, 238);
    background-color: rgb(245, 241, 228);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }
