/* =========================================================================
 Style for the selectList.mako.
 Should be moved from here, when moving the .vue files.
 ========================================================================== */

div.select-list ul {
    padding-left: 0;
}

div.select-list li {
    list-style-type: none;
    display: flex;
}