{
  "extends": [
    "xo/browser",
    "xo/esnext",
    "plugin:vue/essential"
  ],
  "rules": {
      "indent": ["error", 4],
      "object-curly-spacing": ["error", "always"]
      "space-before-function-paren": ["error", "never"]
      "unicorn/catch-error-name": ["error", { "name": "error" }]
    },
    "env": {
      "jquery": true
    }
}
