{
  "extends": [
    "xo/browser",
    "xo/esnext",
    "plugin:vue/essential",
    "plugin:jest/recommended"
  ],
  "rules": {
    "indent": ["error", 4],
    "object-curly-spacing": ["error", "always"],
    "space-before-function-paren": ["error", "never"]
  },
  "env": {
    "jquery": true
  }
}
