# Code coverage
.eslintcache
.nyc_output
coverage
coverage.lcov
dist

# Yarn #
######################
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-error.log
