/* =========================================================================
 Style for the anidbReleaseGroupUi.mako.
 Should be moved from here, when moving the .vue files.
 ========================================================================== */

div#anidb_release_group_ui_wrapper {
    clear: both;
}

div#anidb_release_group_ui_wrapper ul {
    border-style: solid;
    border-width: thin;
    padding: 5px 2px 2px 5px;
    list-style: none;
}