name: Frontend tests

permissions:
  contents: read

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x, 25.x]
        os: [ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install themes dependencies
      working-directory: ./themes-default/slim
      run: yarn install --ignore-scripts
    - name: Check themes builds
      run: |
        mv ./.github/build-themes-check.sh ./themes-default/slim
        cd ./themes-default/slim
        bash build-themes-check.sh
    - name: Test lint
      working-directory: ./themes-default/slim
      run: yarn lint && yarn lint-css
    - name: Test build
      working-directory: ./themes-default/slim
      run: yarn test
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
